/* .my-popup {
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 24px;
} */

.my-title {
  /* color: #2c3e50;
  font-weight: bold; */
  font-size: 1.2rem !important;
  margin-right: 0 !important;
}

/* .my-confirm-button {
  background-color: #2ecc71 !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 10px 20px;
}

.my-cancel-button {
  background-color: #e74c3c !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 10px 20px;
} */
